.nav-top {
    height: 5px;
    background: linear-gradient(to right, #d50000, #aa00ff, #1e88e5, #ff6d00);
}
.nav-content {
    padding: 0 48px;
    display: flex;
    height: 54px;
    line-height: 54px;
    background-color: #212121;
    color: #fff;
}
.nav-logo {
    flex: 4;
}
.nav-logo>span {
    font-size: 22px;
}
.nav-menu {
    flex: 6;
    margin: 0;
}
.nav-menu>li {
    display: inline-block;
    padding: 0 18px;
}
.nav-menu>li:hover {
    color: #26c6da;
}
.secondary-menu {
    position: relative;
}
.secondary-menu .icon{
    font-size: 10px;
    margin-left: 3px;
    top: 3px;
    transition: all 0.2s;
}
.sub-menu {
    display: none;
    left: 0;
    z-index: 99;
    color: #fff;
    width: 100%;
    position: absolute;
    background-color: #212121;
    padding: 0 0 8px 0;
    text-align: center;
    line-height: 28px;
}

.secondary-menu:hover .sub-menu {
    display: block;
}
.secondary-menu:hover .icon {
    transform:rotate(180deg);
    top: 0;
}

.sub-menu li{
    width: 100%;
    height: 28px;
}
.sub-menu li:hover{
    color: #26c6da;
}
.nav-search {
    flex: 1;
    font-size: 18px;
}

.nav-search-bar {
    padding: 8px 48px;
    background-color: #fff;
    text-align: center;
}
.nav-search-bar .ant-input-search {
    width: 80%;
}

.nav-search-bar .ant-input-wrapper {
    display: flex;
}
.nav-search-bar .ant-input {
    flex: 8;
}
.nav-search-bar .ant-input-group-addon {
    flex: 1;
}
.nav-search-bar .close-search {
    float: right;
    font-size: 18px;
    text-align: right;
    padding: 8px 0 0 0px;
    cursor: pointer;
}