.frend-link {
    background-color: #fff;
    margin-top: 18px;
    padding: 14px;
}
.frend-link-list .link-item {
    display: inline-block;
    margin: 16px 8px 0 0px;
    font-size: 12px;
}

.link-item .ant-tag {
    font-size: 14px;
    padding: 3px 5px;
}

.link-item .ant-tag:hover {
    box-shadow: 0 0 3px 3px #ba68c8;
}